.navbar {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    padding: 1rem;

    background-color: white;
}

.navbar_left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar_logo {
    font-size: 1.25rem;
}

.navbar_cta {
    padding: 1rem 0;
}